* {
    box-sizing: border-box;
}

html {
    font-family: Quicksand;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

#container {
    width: 88%;
    margin: auto;
}

.logo {
    display: inline-block;
}

.nav {
    float: right;
}

.nav li {
    list-style: none;
    float: left;
    padding-left: 25px;
}

.nav li a {
    color: #000000;
}

.contact {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  
.contact:hover {
    color: #000;
  }

.contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

.contact:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

.about-info {
    width: 50%;
    float: left;
}

.about-info h1 {
    font-size: 60px;
}

.about-info p {
    font-size: 20px;
}

.designation {
    font-size: 30px;
    line-height: 0;
}

.banner-img {
    width: 50%;
    float: left;
}

.resume {
    background-color: #000;
    color: #fff;
}

span {
    position: relative;
    display: inline-block;
    padding: 0;    
    transition: transform 0.4s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
  }
  
  span:before {
    position: absolute;
    left: 0;
    content: attr(data-hover);
    transition: color 0.4s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    text-align: center;
  }
  
  .resume:hover span,
  .resume:focus span {
    transform: rotateX(90deg) translateY(-22px);
  }
  
  .resume:hover span:before,
  .resume:focus span:before {
    color: #000;
    background-color: #fff;
  }


.social-links {
    margin-top: 35px;
}

.linkedin {
    background-color: #3D89D1;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border-radius: 8px 0px 0px 8px;
}

.github {
    background-color: #fff;
    display: inline-block;
    padding: 10px 20px 10px 20px;
}

.facebook {
    background-color: #489BE5;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border-radius: 0px 8px 8px 0px;
}

@media only screen and (max-width: 600px) {
    .about-info {
      width: 100%;
    }

    .about-info h1{
        font-size: 60px;
        text-align: center;
    }

    .about-info p {
        text-align: center;
    }

    .banner-img {
        width: 100%;
    }
    .social-links {
        display: flex;
        justify-content: center;
    }
  }
